/* Add some general styling */
body {
    font-family: Arial, sans-serif;
    background-color: #F7FAFC; 
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Use a slightly transparent white background */
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 50px auto;
    color: #333333; /* Set text color for readability */
}

/* Style the header section */
.text-center {
    margin-bottom: 30px;
}

/* Style the image */
.img-fluid {
    border: 5px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style headings */
h1, h2 {
    color: #333333;
    margin-bottom: 20px;
}

/* Style paragraphs */
p {
    color: #666666;
    line-height: 1.6;
}

/* Style the unordered list */
ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

ul li::before {
    content: "\2022";
    position: absolute;
    left: 0;
    color: #5f9ea0;
}

/* Style links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Contact details */
.contact-details {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 20px auto;
    }
}
